<!-- Page Header -->
<header class="masthead">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <%= post_title @post %>
          <%= post_details @post %>
        </div>
      </div>
    </div>
  </div>
</header>