<% if obj.is_owner(current_user) || current_user.admin? %>
  <td><%= link_to 'Show', obj %></td>
  <td><%= link_to 'Edit', edit_post_path(obj) %></td>
  <td><%= link_to 'Destroy', obj, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>